# Environnement virtuel

.venv/
.venv_tensorflow/
venv/
env/

# Python

__pycache__/
*.py[cod]
*$py.class

# Jupyter

.ipynb_checkpoints/

# VS Code

.vscode/

# Fichiers système

.DS_Store
Thumbs.db

# Fichiers temporaires

*.tmp
*.temp
*.log

# Variables d'environnement

.env
.env.*

# Distribution / packaging

build/
dist/
*.egg-info/

# Cache

.cache/

# Modèles générés

*.pkl
*.joblib

# Données brutes volumineuses

# À décommenter si les fichiers Fashion-MNIST ne doivent pas être envoyés sur GitHub
# data/*.gz